@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-toastify/dist/ReactToastify.css";

@font-face {
  font-family: "Chilgok_lws";
  src: url("/static/fonts/Together-KwonJungae.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
